.container__diferenciais {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  padding: 0px;
  justify-content: space-around;
}

.diferencial {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  text-align: center;
}

.diferencial img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  padding-bottom: 10px;
  border-radius: 100%;
  align-self: center;
}

.diferencial p {
  height: 100px;
  width: 35vh;
}
