header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../../img/background.png);
  /* background-image: url(background referente ao país aqui ex.: ../../img/background.png); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__header {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content__header div {
  margin: 10px;
  width: 70%;
  max-width: 1800px;
  height: auto;
  justify-content: space-between;
}

.container__pais {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 20%;
}

.container__pais img {
  object-fit: cover;
  height: auto;
  width: 10vw;
  border-radius: 100%;
  align-self: center;
  margin: 1vw;
}

.container__desc__pais {
  width: 70%;
  height: auto;
  background-color: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.41);
}

.container__desc__pais p {
  font-size: 1.5vw;
}
