header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  background-image: url(../blake-guidry-p9vr45T2scg-unsplash.jpg);
  background-size: cover;
}

.content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90vh;
  color: #fff;
}

.content__header h1 {
  font-size: 42px;
  text-transform: uppercase;
  padding: 10px;
}

.content__header p {
  font-weight: 200;
  font-style: italic;
  padding: 10px;
}

.form__pais {
  display: flex;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.form__pais label {
  font-style: italic;
  padding: 10px;
}

.form__pais input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.form__pais .continente,
.form__pais .pais {
  width: 30%;
  margin: 10px;
  color: rgb(48, 48, 48);
}

.form__pais .button {
  width: 100px;
  background-color: #289aa7;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.form__pais .button:hover {
  box-shadow: inset 0px 0px 50px -12px rgba(0, 0, 0, 0.23);
}
