@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    background-size: cover;
    background-position: center;
    /* background-image: url('../img/background.png'); */
    background-attachment: fixed;
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 100%;
    padding: 40px;
    max-height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/background.png');
    background-attachment: fixed; 
}

header nav{
    float: right;
}

header .logo{
    position: relative;
    float: left;
    width: 82px;
    height: 76px;
    margin-top: -33px;
    background-image: url('../img/logo2white.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 15px;
}

header nav.desktop-menu li a{
    text-decoration: none;
    color: white;
}

header nav.desktop-menu li a:hover, a:active, a:focus{
        color:  #1c1f36;
        outline: none;
        text-decoration: none;
}
header .javascript{
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

header .javascript img{
    border-radius: 30%;
    max-width: 100%;
}

header .javascript p{
    padding: 40px;
    font-style: italic;
    color: rgba(221, 208, 185, 0.918);
    font-size: 1vw;
}

.form-control {
    left: 25%;
    position: absolute;
    display: block;
    width: 50%;
    padding: 0.4rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}


#diferenciais { /* Retirei o .diferenciais e passei para ID pois o section está id*/
    font-size: 1.5vw;
    width: 100%;
    background-color: #46657e;
    padding: 0 2%;
    height: 520px; /* Aumentei a altura */
}

.diferenciais h2{
    color: white;
    left: 43%;
    text-align: center;
    padding: 20px;   /*Aqui estava margin e estava deixando um espaço branco entre a divisão troquei para padding */
    font-size: 1.5vw;
}


.diferenciais .divisao {
    float: left;
    width: 33.33%;
}

.diferenciais .divisao .imagem img {
    margin: 10px 110px;
    color: white;
    float: left;
    border-radius: 50%;
    max-width: 100%;
}

.diferenciais .divisao .texto h3{
    text-align: center;
    font-size: 1.0vw;
    color: white;
}

.diferenciais .divisao .texto p {
    margin: 5px 100px;
    font-size: 0.8vw;
    text-align: center;
    padding: 10px;
    color: white;
}

#equipe { /* removi o .sobre desnecessario. */
    font-size: 1.5vw;
    width: 100%;
    background-color: #414447;
    height: 500px; /* Aumentei a altura */
}

#equipe .equipe .divisao {
    margin: 20px 0px;
    float: right;
    width: 33.00%;
    color: white;
}

#equipe .equipe .texto h2{
    font-size: 1.5vw;
    text-align: center;
    padding-top: 20px;
}

#equipe .equipe .texto h3{
    padding-left: 250px;
    font-size: 1.0vw;
}

#equipe .equipe .texto h4{
    padding-left: 215px;
    font-size: 1.0vw;
}

#equipe .equipe .imagem img{
    float: right;
    margin: 0px 235px;
    border-radius: 50%;
    max-width: 100%;
    padding: 20px;
}

#equipe .equipe .texto p{
    margin: 20px 130px;
    font-size: 0.8vw;
}
