.container__documentacao {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: space-around;
}

.documento {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 50vh;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
}

.documento img {
  max-width: 230px;
  object-fit: cover;
  padding: 2vh;
  border-radius: 100%;
  align-self: center;
}

.documento h2 {
  font-size: 1.5vh;
}

.documento p {
  height: auto;
  width: 18.75rem;
  font-size: 2vh;
}
