.container__orcamento {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.orcamento {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 30vw;
  max-width: 715px;
  border: 0.3vw solid var(--azul-escuro);
  border-radius: 10px;
}

.orcamento h2 {
  padding-top: 15px;
  height: 50px;
  width: auto;
}

.orcamento ul {
  display: block;
  text-align: left;
}

.orcamento table {
  width: auto;
  max-width: 20vw;
  margin: 0 auto;
  text-align: left;
  table-layout: auto;
}

.orcamento table tr th {
  padding: 5px 10px;
  text-align: center;
  font-size: 1.1vw;
}

.orcamento table tr td {
  text-align: center;
  padding: 5px 10px;
  font-size: 1.1vw;
}

.orcamento span {
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5vw;
  text-align: center;
  line-height: 1.2em;
  border-radius: 10px;
}

#orcamento_paises {
  padding-top: 50px;
  display: flex;
  font-size: 24px;
}
