.section__container {
  padding: 2% 40px;
  margin: 0 auto;
  color: white;
}

.section__container:first-child {
  background-color: var(--azul-diferencial);
}

.section__container:nth-child(2) {
  background-color: var(--cinza-equipe);
}

.section__container:nth-child(3) {
  background-color: var(--azul-diferencial);
}

.section__container h1 {
  margin: 40px;
  text-transform: uppercase;
  font-size: 36px;
}

.section__container p {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 15px;
  text-align: center;
}
